.darkBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #0007;
    backdrop-filter: blur(4px);
}

.modalConfirm {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 480px;
    height: 40%;
    max-height: 400px;
    border-radius: 24px;
    background-color: var(--color-grey2);
    box-shadow: var(--shadow);
    overflow: hidden;
}

.modalConfirm header {
    width: 100%;
    height: 45%;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalConfirm h2 {
    margin-top: -12px;
    font-size: 2.2rem;
    color: var(--color-black);
    font-family: 'Nunito';
    letter-spacing: .5px;
    line-height: 2.2rem;
}

.modalConfirm svg {
    color: var(--color-background);
    opacity: .8;
}

.modalConfirm main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 55%;
    text-align: center;
    gap: 24px;
}

.modalButtons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}