.main {
    width: 100vw;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-top: var(--navbarHeight);
    
}

.filters {
    height: 50px;
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cardsContainer {
    display: grid;
    width: 100%;
    padding: 8px 24px;
    height: calc(100% - 130px);
    overflow-y: auto;
    max-width: 1280px;
    margin: 0 auto;
    align-content: start;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    gap: 16px 24px;
}

.paginate {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: delay .2s, paginateIn .8s .2s ease-in-out;
}

.notFoundWrapper {
    grid-column: 1 / 5;
    justify-self: center;
    text-align: center;
    color: var(--color-secondary-text);
}

.notFoundWrapper h4 {
    font-size: 2rem;
    font-family: 'Nunito';
    margin: 8px 0;
}

.notFoundWrapper p {
    font-weight: 400;
}

@keyframes paginateIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes delay {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 1024px) {

    .paginate {
        position: absolute;
        bottom: 0px;
    }
    .cardsContainer {
        height: calc(100% - 42px);
        padding-bottom: 66px;
    }

    .filters {
        height: 42px;
    }
}


@media screen and (max-width: 768px) {
    .filters {
        gap: 15px;
    }

    .cardsContainer {
        gap: 12px;
        grid-auto-rows: minmax(380px, 1fr);
        padding-left: 8px;
        padding-right: 0px;
    }

    .paginate {
        height: 74px;
    }

}

@media screen and (max-width: 480px) {

    .paginate {
        height: 60px;
    }

    .filters {
        gap: 8px;
    }

}