.main {
    width: 100vw;
    min-height: calc(100vh - var(--navbarHeight));
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardsContainer {
    display: grid;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.paginate {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    animation: delay .2s, paginateIn .8s .2s ease-in-out;
}

.filters {
    height: 44px;
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.notFoundWrapper {
    grid-column: 1 / 5;
    justify-self: center;
    text-align: center;
    color: var(--color-secondary-text);
}

.notFoundWrapper h4 {
    font-size: 2rem;
    font-family: 'Nunito';
    margin: 8px 0;
}

.notFoundWrapper p {
    font-weight: 400;
}

@keyframes paginateIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes delay {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(100%);
    }
}
