.card {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--color-grey2);
    box-shadow: 0px 2px 10px 0 var(--shadow);
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 30px 0px var(--shadow-hover);
    transition: all .3s ease-in-out;
}

.cardHeader {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 37%;
    flex-grow: 1;
    padding: 10px 0 4px;
    box-sizing: border-box;
    gap: 8px;
}

.nameCont {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.dogName {
    color: var(--color-primary-text);
    font-family: 'Nunito';
    font-weight: 700;
}

.weight {
    width: 100%;
    padding-bottom: 6px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    align-self: center;
}

.temperament {
    height: 1rem;
    background-color: #e6ddcf99;
    box-sizing: content-box;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 6px;
    padding: 2px 6px;
    align-self: center;
}

.temperamentsCont {
    color: var(--color-secondary-text);
    height: auto;
    max-height: 86px;
    width: 100%;
    padding: 0 5% 8px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin: 0;
    overflow: auto;
}

.imageLoading {
    position: relative;
    overflow: hidden;       
    background-color: var(--color-grey4);
    opacity: .4;
    width: 100%;
    height: 100%;
}

.nameLoading {
    position: relative;
    overflow: hidden;       
    background-color: var(--color-grey4);
    opacity: .4;
    flex-grow: 0;
    height: 20px;
    width: 65%;
    border-radius: 5px;
    margin: 4px 0 8px;
}

.weightLoading {
    position: relative;
    overflow: hidden;       
    background-color: var(--color-grey4);
    opacity: .4;
    height: 16px;
    width: 35%;
    margin: 0 30% 2px;
    flex-grow: 0;
    border-radius: 4px;
}

.temperamentLoading {
    position: relative;
    overflow: hidden;       
    background-color: var(--color-grey4);
    opacity: .4;
    width: 80px;
    height: 20px;
    border-radius: 6px;
}

.activity{
    opacity: .5;
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 45;
  }

  @keyframes loading {
    0%{
      left: -45%;
    }
    100%{
      left: 100%;
    }
  }

  @media screen and (max-width: 605px) { 

    .cardHeader {
        height: 66%;
    }
    
    
    .cardMain {
        height: 30%;
    }

  }