.list {
    background-color: var(--color-grey3);
    width: fit-content;
    padding: 6px 14px;
    border-radius: 24px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.list li {
    font-size: 0.9rem;
    font-weight: 500;
    list-style: none;
    text-align: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.number:hover, .navbtn:hover {
    background-color: var(--color-yellow-hover);
}

.number:active, .navbtn:active {
    background-color: var(--color-yellow-hover);
    transform: scale(95%);
    filter: brightness(95%);    
}

.active {
    border-radius: 24px;
    background-color: var(--color-yellow);
}

.number {
    border-radius: 24px;
    background-color: transparent;
}

.navbtn, .navbtnDisable {
    border-radius: 24px;
    margin: 0 -8px;
    width: 64px !important;
}

.dots {
    cursor: default !important;
}

.navbtnDisable {
    opacity: 0.4;
    cursor: default !important;
}



