.navBox {
    width: 100vw;
    height: var(--navbarHeight);
}

.nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
}